{% extends '@SappFrontendFrontend/layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h2>Hello Sapp</h2>
			<p id="para"></p>
			<p>
			  <button class="btn btn-primary">Lets</button>
			  <button class="btn btn-success">Build</button>
			  <button class="btn btn-info">$this</button>
			</p>
		</div>
	</div>	
{% endblock %}
